div{
	width: 800px;
	height: 250px;
	border: 1px solid #000000;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}

div#d1{
	width: 250px;
	border: 0;
	background-color: red;
	float: left;
	margin-left: 0;
	margin-right: 25px;
}

div#d2{
	width: 250px;
	border: 0;
	background-color: green;
	float: left;
	margin-left: 0;
	margin-right: 25px;
}

div#d3{
	width: 250px;
	border: 0;
	background-color: blue;
	float: left;
	margin-left: 0;
	margin-right: 0;
}