div{
	position: relative;
	/*relative是默认设置;若设置为absolute,后一个元素会覆盖前一个元素*/
	width: 250px;
	height: 100px;
	border: 5px solid #FFFFFF;
	font-weight: bold;
	text-align: center;
}

div#d1{background-color: red;}

div#d2{background-color: yellow;}

div#d3{background-color: lime;}

div#d4{background-color: blue;}