.formlabel{
	font-weight: bold;
	width: 250px;
	margin-bottom: 12px;
	float: left;
	text-align: left;
	clear: left;
}

.formfield{
	font-weight: normal;
	margin-bottom: 12px;
	float: left;
	text-align: left;
}

input,textarea,select{
	border: 1px solid #000000;
}